* {
    margin: 0;
    padding: 0;
}

.container{
    border-style: none;
    border-color: darkgrey;
    border-width: 6px;
    width: 1000px;
    height: 600px;
    margin: 0;
}

.div1{
    position: absolute;
    border-style: none;
    border-color: black;
    width:400px;
    height: 200px;
    background-color: mediumseagreen;
    color: white;
}

.div2{
    position: relative;
    border-style: none;
    border-color: black;
    width: 200px;
    height: 200px;
    left: 400px;
    background-color: orange;
}

.fa-address-card{
    color: white;
    font-size: 50px;
    margin-left: 75px;
    margin-top: 60px;
}

.div3{
    position: relative;
    border-style: none;
    border-color: black;
    width: 200px;
    height: 200px;
    background-color: dodgerblue;
}

.fa-chart-bar{
    color: white;
    font-size: 50px;
    margin-left: 75px;
    margin-top: 60px;
}

.div4{
    position: relative;
    border-style: none;
    border-color: black;
    width: 200px;
    height: 200px;
    left: 200px;
    bottom: 200px;
    background-color: red;
}

.fa-book{
    color: white;
    font-size: 50px;
    margin-left: 75px;
    margin-top: 60px;
}

.div5{
    position: relative;
    border-style: none;
    border-color: black;
    width: 200px;
    height: 200px;
    left: 400px;
    bottom: 400px;
    background-color: mediumseagreen;
}

.fa-square{
    color: white;
    font-size: 50px;
    margin-left: 75px;
    margin-top: 60px;
}

.div6{
    position: relative;
    border-style: none;
    border-color: black;
    width: 200px;
    height: 200px;
    bottom: 400px;
    background-color: darkorange;
}
.fa-plus{
    color: white;
    font-size: 50px;
    margin-left: 75px;
    margin-top: 60px;
}

.div7{
    position: relative;
    border-style: none;
    border-color: black;
    width: 200px;
    height: 200px;
    left: 200px;
    bottom: 600px;
    background-color: dodgerblue;
}
.fa-file-contract{
    color: white;
    font-size: 50px;
    margin-left: 75px;
    margin-top: 60px;
}
.div8{
    position: relative;
    border-style: none;
    border-color: black;
    width: 200px;
    height: 200px;
    left: 400px;
    bottom: 800px;
    background-color: darkorange;
}

.fa-tv{
    color: white;
    font-size: 50px;
    margin-left: 75px;
    margin-top: 60px;
}

.img1{
    margin-left: 600px;
    margin-top: -1400px;
}
img{
    width: 400px;
    height: 600px;
}
p{
    color: white;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
}

h1{
    font-size: 20px;
    top: 20px;
}
.petit1{
    position: relative;
    border-style: solid;
    width: 90px;
    height: 30px;
    left: 40px;
    top: 40px;
}

h2{
    font-size: 13px;
    margin-top: 5px;
    margin-left: 10px;
}

.petit2{
    position: relative;
    border-style: solid;
    width: 90px;
    height: 30px;
    left: 160px;
    top: 5px;
}

.fa-inbox-in{
    color: white;
}

.fa-info{
    color: white;
}

h1{
    text-align: center;
}

@media screen and ( max-width: 450px) {
    container {
        margin: 0;
        width: 450px;
        font-size: 0.5rem;
        display: inline-block;
    }
    .img1 {
        padding: 1rem;
        width: 100%;
        float: bottom;
    }

    #div1 {
        width: 100%px;


    }

    #div2 ,#div3 ,#div4 {
        width: 100%;
        display: inline-block;
    }
}
